<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Truyện QQ</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
</head>
<body class="detail light">
<th:block th:replace="fragments/header :: header"></th:block>
<div class="content">
    <div class="div_middle">
        <div class="main_content">
            <div id="top-banner-reading-container">
                <div class="banner text-center" style="margin-bottom: 10px;">
                    <div><a class="ads-banner banner-desktop" rel="nofollow" id="hitclub-top-18" target="_blank"
                            href="https://hit.club/?a=d66ba3dda345ae2dce02b4093c0ea0b9&amp;utm_source=truyenqqvietcom&amp;utm_medium=topbanner1&amp;utm_campaign=cpd&amp;utm_term=truyen"><img
                            class="ads-banner" src="https://mplmncb.com/banners-web/_hit-728x90_12_12_2024_14_21_28.gif"
                            style="width: auto; max-width: 100%; height: auto;"></a></div>
                    <div><a class="ads-banner banner-desktop" rel="nofollow" id="net88-top-19" target="_blank"
                            href="https://net88.onl/?a=ab101c13854658b109cd1e818e9ab723&amp;utm_campaign=cpd&amp;utm_source=truyenqqvietcom&amp;utm_medium=topbanner2&amp;utm_term=truyen"><img
                            class="ads-banner"
                            src="https://mplmncb.com/banners-web/_net88-728x90_12_12_2024_14_23_50.gif"
                            style="width: auto; max-width: 100%; height: auto;"></a></div>
                </div>
            </div>
            <div id="chapter_content">
                <div class="chapter_content_div chapter_new_load">
                    <div class="box">
                        <div id="path" class="path-top">
                            <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                                    <a itemprop="item" href="https://truyenqqto.com/">
                                        <span itemprop="name">Trang Chủ</span>
                                    </a>
                                    <meta itemprop="position" content="1">
                                </li>
                                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                                    <a itemprop="item"
                                       href="https://truyenqqto.com/truyen-tranh/do-de-cua-ta-deu-la-dai-phan-phai-13414">
                                        <span itemprop="name">Đồ Đệ Của Ta Đều Là Đại Phản Phái</span>
                                    </a>
                                    <meta itemprop="position" content="2">
                                </li>
                                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                                    <a itemprop="item"
                                       href="https://truyenqqto.com/truyen-tranh/do-de-cua-ta-deu-la-dai-phan-phai-13414-chap-319.html">
                                        <span itemprop="name">Chương 319</span>
                                    </a>
                                    <meta itemprop="position" content="3">
                                </li>
                            </ol>
                        </div>
                        <div>
                            <h1 class="detail-title txt-primary"><a
                                    href="/truyen-tranh/do-de-cua-ta-deu-la-dai-phan-phai-13414">Đồ Đệ Của Ta Đều Là Đại
                                Phản Phái</a> -
                                Chapter 319</h1>
                            <time datetime="2024-12-18T08:23:08+07:00">(Cập nhật
                                lúc: 17:23 18/12/2024)
                            </time>
                        </div>
                        <div class="chapter-control">
                            <div class="alert alert-info mrt10">
                                <i class="fa fa-info-circle"></i> <em>Sử dụng mũi tên trái (←) hoặc phải (→) để chuyển
                                chapter</em>
                            </div>

                            <div class="d-flex align-items-center justify-content-center">
                                <a th:href="@{/album/{comicId}/chapter-{chapterNumber}(comicId=${chapter.comic.id}, chapterNumber=${prevChapter.chapterNumber})}"
                                   th:class="'btn btn-info go-btn prev text-white m-1 ' + (${prevChapter == null} ? 'd-none' : 'd-block')"><em
                                        class="fa fa-arrow-left"></em> Chap trước</a>
                                <a th:href="@{/album/{comicId}/chapter-{chapterNumber}(comicId=${chapter.comic.id}, chapterNumber=${nextChapter.chapterNumber})}"
                                   th:class="'btn btn-info go-btn prev text-white m-1 ' + (${nextChapter == null} ? 'd-none' : 'd-block')">Chap sau <em
                                        class="fa fa-arrow-right"></em></a>
                            </div>
                        </div>
                    </div>
                    <div class="chapter_content">
                        <div style="overflow: hidden;">
                            <div th:each="page : ${pages}" class="page-chapter">
                                <img th:src="${page.link}" th:alt="'Page ' + ${page.pageNumber}"/>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="chapter_control" style="z-index: 9999">
                            <a href="/" class="home"><i class="fa fa-home" aria-hidden="true"></i></a>
                            <a onclick="" class="home changeserver"><i class="fa fa-undo error"></i><span>1</span>
                            </a><a class="prev control-button link-prev-chap"
                                   href="/truyen-tranh/do-de-cua-ta-deu-la-dai-phan-phai-13414-chap-318.html"
                                   title="Đồ Đệ Của Ta Đều Là Đại Phản Phái Chap 318"><i class="fa fa-chevron-left"></i></a>
                            <span class="chapter_list spanList"
                                  onclick="popupList(319); return false;">Chương 319</span> <a
                                class="next disable control-button" onclick="alert('Hết Chương Rồi Bạn Ơi!!!')"><i
                                class="fa fa-chevron-right"></i></a>
                            <a href="javascript:void(0);"
                               class="button is-danger is-rounded btn-subscribe subscribeBook" data-id="13414"
                               data-page="detail"><i class="fa fa-heart"></i> <span>Theo dõi</span></a>

                        </div>
                    </div>

                    <div class="clear"></div>
                    <div class="box bottom-chap">
                        <div class="chapter-control" style="z-index: 9999">
                            <div class="d-flex align-items-center justify-content-center">
                                <a class="btn btn-info go-btn prev text-white m-1 d-block"
                                   href="/truyen-tranh/do-de-cua-ta-deu-la-dai-phan-phai-13414-chap-318.html"><em
                                        class="fa fa-arrow-left"></em> Chap trước</a>
                                <a class="btn btn-info go-btn next text-white m-1 d-none"
                                   onclick="alert('Hết Chương Rồi Bạn Ơi!!!')">Chap sau <em
                                        class="fa fa-arrow-right"></em></a>
                            </div>
                            <div class="d-flex align-items-center justify-content-center">
                                <a class="ads-banner" rel="nofollow" id="red-button" target="_blank"
                                   href="https://red88.com/?a=e6a27eaafde4432d69b25be973e93b46&amp;utm_source=truyenqqvietcom&amp;utm_medium=buttoncuoc&amp;utm_campaign=cpd&amp;utm_term=truyen">
                                    <img class="ads-banner" src="https://mplmncb.com/banners-web/red-button.gif"
                                         style="width: auto; max-width: 50%; height: 40px; margin-top: 10px">
                                </a>
                            </div>
                        </div>
                        <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                                <a itemprop="item" href="https://truyenqqto.com/">
                                    <span itemprop="name">Trang Chủ</span>
                                </a>
                                <meta itemprop="position" content="1">
                            </li>
                            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                                <a itemprop="item"
                                   href="https://truyenqqto.com/truyen-tranh/do-de-cua-ta-deu-la-dai-phan-phai-13414">
                                    <span itemprop="name">Đồ Đệ Của Ta Đều Là Đại Phản Phái</span>
                                </a>
                                <meta itemprop="position" content="2">
                            </li>
                            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                                <a itemprop="item"
                                   href="https://truyenqqto.com/truyen-tranh/do-de-cua-ta-deu-la-dai-phan-phai-13414-chap-319.html">
                                    <span itemprop="name">Chương 319</span>
                                </a>
                                <meta itemprop="position" content="3">
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<th:block th:replace="fragments/footer :: footer"></th:block>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>