<header>
    <div class="top">
        <div class="div_middle">
            <div class="logo">
                <a href="/" title="Truyện tranh online">
                    <p class="pc_display"></p>
                    <img alt="TruyenQQ" class="mobile_display"
                         src="https://st.truyenqqto.com/template/frontend/images/logo-icon.png">
                </a>
                <div class="clear"></div>
            </div>
            <div class="right">
                <ul>
                    <li onclick="$('header .top_search').slideDown()" class="other"><i class="fa fa-search"
                                                                                       aria-hidden="true"></i></li>
                    <li>
                        <button onclick="popup('register')">Đăng ký</button>
                    </li>
                    <li>
                        <button onclick="popup('login')">Đăng nhập</button>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="top_search">
                <input class="search" id="search_input" placeholder="Bạn muốn tìm truyện gì">
                <button>
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
                <div class="search_result">
                    <ul></ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</header>
