<header>
    <div class="top">
        <div class="div_middle">
            <div class="logo">
                <a href="/" title="Truyện tranh online">
                    <p class="pc_display"></p>
                    <img alt="TruyenQQ" class="mobile_display"
                         src="https://st.truyenqqto.com/template/frontend/images/logo-icon.png">
                </a>
                <div class="clear"></div>
            </div>
            <div class="right">
                <ul>
                    <li onclick="$('header .top_search').slideDown()" class="other"><i class="fa fa-search"
                                                                                       aria-hidden="true"></i></li>
                    <li th:if="${displayName != null}">
                        <span th:text="${displayName}"></span>
                    </li>
                    <li th:if="${displayName == null}">
                        <a href="/register">Đăng ký</a>
                    </li>
                    <li th:if="${displayName == null}">
                        <a href="/login">Đăng nhập</a>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="top_search">
                <input class="search" id="search_input" placeholder="Bạn muốn tìm truyện gì">
                <button>
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
                <div class="search_result">
                    <ul></ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="bottom">
        <div class="div_middle">
            <ul id="header_left_menu" th:each="categories : ${categories}">
                <li class="menu_hidden">
                    <a class="tags_name pc_hover" href="/">
                        Trang chủ
                    </a>
                </li>
                <li class="menu_hidden">
                    <a class="tags_name pc_hover" th:href="@{/categories/{id}(id=${categories.id})}"
                       th:text="${categories.name}">
                    </a>
                </li>

                <!--                <li class="menu_hidden">-->
                <!--                    <p class="tags_name pc_hover mega_menu">Thể Loại <i class="fa fa-caret-down"></i></p>-->
                <!--                    <div class="hidden_menu book_tags">-->
                <!--                        <div class="div_middle">-->
                <!--                            <div class="book_tags_content">-->
                <!--                                <p><a title="Action" href="/the-loai/action-26.html">Action</a></p>-->
                <!--                                <p><a title="Adventure" href="/the-loai/adventure-27.html">Adventure</a></p>-->
                <!--                                <p><a title="Anime" href="/the-loai/anime-62.html">Anime</a></p>-->
                <!--                                <p><a title="Chuyển Sinh" href="/the-loai/chuyen-sinh-91.html">Chuyển Sinh</a></p>-->
                <!--                                <p><a title="Cổ Đại" href="/the-loai/co-dai-90.html">Cổ Đại</a></p>-->
                <!--                                <p><a title="Comedy" href="/the-loai/comedy-28.html">Comedy</a></p>-->
                <!--                                <p><a title="Comic" href="/the-loai/comic-60.html">Comic</a></p>-->
                <!--                                <p><a title="Demons" href="/the-loai/demons-99.html">Demons</a></p>-->
                <!--                                <p><a title="Detective" href="/the-loai/detective-100.html">Detective</a></p>-->
                <!--                                <p><a title="Doujinshi" href="/the-loai/doujinshi-96.html">Doujinshi</a></p>-->
                <!--                                <p><a title="Drama" href="/the-loai/drama-29.html">Drama</a></p>-->
                <!--                                <p><a title="Fantasy" href="/the-loai/fantasy-30.html">Fantasy</a></p>-->
                <!--                                <p><a title="Gender Bender" href="/the-loai/gender-bender-45.html">Gender Bender</a></p>-->
                <!--                                <p><a title="Harem" href="/the-loai/harem-47.html">Harem</a></p>-->
                <!--                                <p><a title="Historical" href="/the-loai/historical-51.html">Historical</a></p>-->
                <!--                                <p><a title="Horror" href="/the-loai/horror-44.html">Horror</a></p>-->
                <!--                                <p><a title="Huyền Huyễn" href="/the-loai/huyen-huyen-468.html">Huyền Huyễn</a></p>-->
                <!--                                <p><a title="Isekai" href="/the-loai/isekai-85.html">Isekai</a></p>-->
                <!--                                <p><a title="Josei" href="/the-loai/josei-54.html">Josei</a></p>-->
                <!--                                <p><a title="Mafia" href="/the-loai/mafia-69.html">Mafia</a></p>-->
                <!--                                <p><a title="Magic" href="/the-loai/magic-58.html">Magic</a></p>-->
                <!--                                <p><a title="Manga" href="/the-loai/manga-469.html">Manga</a></p>-->
                <!--                                <p><a title="Manhua" href="/the-loai/manhua-35.html">Manhua</a></p>-->
                <!--                                <p><a title="Manhwa" href="/the-loai/manhwa-49.html">Manhwa</a></p>-->
                <!--                                <p><a title="Martial Arts" href="/the-loai/martial-arts-41.html">Martial Arts</a></p>-->
                <!--                                <p><a title="Military" href="/the-loai/military-101.html">Military</a></p>-->
                <!--                                <p><a title="Mystery" href="/the-loai/mystery-39.html">Mystery</a></p>-->
                <!--                                <p><a title="Ngôn Tình" href="/the-loai/ngon-tinh-87.html">Ngôn Tình</a></p>-->
                <!--                                <p><a title="One shot" href="/the-loai/one-shot-95.html">One shot</a></p>-->
                <!--                                <p><a title="Psychological" href="/the-loai/psychological-40.html">Psychological</a></p>-->
                <!--                                <p><a title="Romance" href="/the-loai/romance-36.html">Romance</a></p>-->
                <!--                                <p><a title="School Life" href="/the-loai/school-life-37.html">School Life</a></p>-->
                <!--                                <p><a title="Sci-fi" href="/the-loai/sci-fi-43.html">Sci-fi</a></p>-->
                <!--                                <p><a title="Seinen" href="/the-loai/seinen-42.html">Seinen</a></p>-->
                <!--                                <p><a title="Shoujo" href="/the-loai/shoujo-38.html">Shoujo</a></p>-->
                <!--                                <p><a title="Shoujo Ai" href="/the-loai/shoujo-ai-98.html">Shoujo Ai</a></p>-->
                <!--                                <p><a title="Shounen" href="/the-loai/shounen-31.html">Shounen</a></p>-->
                <!--                                <p><a title="Shounen Ai" href="/the-loai/shounen-ai-86.html">Shounen Ai</a></p>-->
                <!--                                <p><a title="Slice of life" href="/the-loai/slice-of-life-46.html">Slice of life</a></p>-->
                <!--                                <p><a title="Sports" href="/the-loai/sports-57.html">Sports</a></p>-->
                <!--                                <p><a title="Supernatural" href="/the-loai/supernatural-32.html">Supernatural</a></p>-->
                <!--                                <p><a title="Tragedy" href="/the-loai/tragedy-52.html">Tragedy</a></p>-->
                <!--                                <p><a title="Trọng Sinh" href="/the-loai/trong-sinh-82.html">Trọng Sinh</a></p>-->
                <!--                                <p><a title="Truyện Màu" href="/the-loai/truyen-mau-92.html">Truyện Màu</a></p>-->
                <!--                                <p><a title="Webtoon" href="/the-loai/webtoon-55.html">Webtoon</a></p>-->
                <!--                                <p><a title="Xuyên Không" href="/the-loai/xuyen-khong-88.html">Xuyên Không</a></p>-->
                <!--                                <div class="clear"></div>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </li>-->
                <!--                <li class="menu_hidden">-->
                <!--                    <p class="tags_name pc_hover mega_menu">Xếp Hạng <i class="fa fa-caret-down"></i></p>-->
                <!--                    <div class="hidden_menu book_tags">-->
                <!--                        <div class="div_middle">-->
                <!--                            <div class="book_tags_content">-->
                <!--                                <p><a rel="nofollow" href="https://truyenqqto.com/top-ngay.html">Top Ngày</a></p>-->
                <!--                                <p><a rel="nofollow" href="https://truyenqqto.com/top-tuan.html">Top Tuần</a></p>-->
                <!--                                <p><a rel="nofollow" href="https://truyenqqto.com/top-thang.html">Top Tháng</a></p>-->
                <!--                                <p><a rel="nofollow" href="https://truyenqqto.com/truyen-yeu-thich.html">Yêu Thích</a>-->
                <!--                                </p>-->
                <!--                                <p><a rel="nofollow" href="https://truyenqqto.com/truyen-moi-cap-nhat.html">Mới Cập-->
                <!--                                    Nhật</a></p>-->
                <!--                                <p><a rel="nofollow" href="https://truyenqqto.com/truyen-tranh-moi.html">Truyện Mới</a>-->
                <!--                                </p>-->
                <!--                                <p><a rel="nofollow" href="https://truyenqqto.com/truyen-hoan-thanh.html">Truyện-->
                <!--                                    Full</a></p>-->
                <!--                                <p><a rel="nofollow" href="https://truyenqqto.com/truyen-ngau-nhien.html">Truyện Ngẫu-->
                <!--                                    Nhiên</a></p>-->
                <!--                                <div class="clear"></div>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </li>-->
                <!--                <li class="menu_hidden">-->
                <!--                    <a class="tags_name pc_hover" href="/truyen-con-gai.html">Con Gái</a>-->
                <!--                </li>-->
                <!--                <li class="menu_hidden">-->
                <!--                    <a class="tags_name pc_hover" href="/truyen-con-trai.html">Con Trai</a>-->
                <!--                </li>-->
                <!--                <li class="menu_hidden">-->
                <!--                    <a class="tags_name pc_hover" href="https://truyenqqto.com/tim-kiem-nang-cao.html">Tìm Truyện</a>-->
                <!--                </li>-->
                <!--                <li class="menu_hidden">-->
                <!--                    <a class="tags_name pc_hover" rel="nofollow" href="https://truyenqqto.com/lich-su.html">Lịch Sử</a>-->
                <!--                </li>-->
                <!--                <li class="menu_hidden">-->
                <!--                    <a class="tags_name pc_hover" rel="nofollow"-->
                <!--                       href="https://truyenqqto.com/truyen-dang-theo-doi.html">Theo Dõi</a>-->
                <!--                </li>-->

                <!--                <li class="menu_hidden">-->
                <!--                    <a class="tags_name pc_hover" rel="noopener noreferrer"-->
                <!--                       href="https://www.facebook.com/groups/438911163131883" target="_blank">Thảo Luận</a>-->
                <!--                </li>-->
                <!--                <li class="menu_hidden">-->
                <!--                    <a class="tags_name pc_hover" rel="noopener noreferrer" href="https://www.facebook.com/truyenqqq"-->
                <!--                       target="_blank">Fanpage</a>-->
                <!--                </li>-->

            </ul>
            <div class="clear"></div>
        </div>
        <div class="nav_menu mobile_display"><i onclick="show_bottom_menu(this)" class="fa fa-list"
                                                aria-hidden="true"></i></div>
    </div>
</header>
