<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Truyện QQ</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
</head>
<body class="detail light">
<th:block th:replace="fragments/header :: header"></th:block>
<div class="content">
    <div class="div_middle">
        <div class="alert-note-fix"></div>
        <div class="main_content">
            <div id="main_homepage">
                <div class="homepage_tags">
                    <h1>
                        <p class="text_list_update" th:text="${category.name}">
                            <i class="fa fa-font-awesome" aria-hidden="true"></i>
                        </p>
                    </h1>
                    <div class="clear"></div>
                </div>
                <div class="tags_detail">
                    <p th:text="${category.description}"></p>
                </div>
                <div class="story-list-bl01 box">
                    <table>
                        <tbody>
                        <!--                        <tr>-->
                        <!--                            <th>Thể loại truyện</th>-->
                        <!--                            <td>-->
                        <!--                                <div class="select is-warning">-->
                        <!--                                    <select id="category" name="category"-->
                        <!--                                            th:attr="onchange=window.location.href=this.value">-->
                        <!--                                        <option th:each="item : ${categories}"-->
                        <!--                                                th:value="@{'/category/' + ${item.id}}"-->
                        <!--                                                th:text="${item.name}"-->
                        <!--                                                th:selected="${item.id == category.id}">-->
                        <!--                                        </option>-->

                        <!--                                    </select>-->
                        <!--                                </div>-->
                        <!--                            </td>-->
                        <!--                        </tr>-->
                        <tr>
                            <th>Tình trạng</th>
                            <td>
                                <ul class="choose">
                                    <li th:each="comicStatuses : ${comicStatuses}">
                                        <a class=""
                                           th:href="@{/category/{categoryId}(categoryId=${category.id}, status=${comicStatuses.id})}"
                                           th:text="${comicStatuses.title}">
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>Quốc gia</th>
                            <td>
                                <ul class="choose">
                                    <li th:each="countries : ${countries}">
                                        <a
                                                class=""
                                                title="Truyện Trung Quốc"
                                                th:text="${countries.name}"
                                                th:href="@{/category/{categoryId}(categoryId=${category.id}, country=${countries.id})}"
                                        ></a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>Sắp xếp</th>
                            <td>
                                <div class="select is-warning">
                                    <select id="category-sort">
                                        <option value="/the-loai/action-26.html?sort=0">
                                            Ngày đăng giảm dần
                                        </option>
                                        <option value="/the-loai/action-26.html?sort=1">
                                            Ngày đăng tăng dần
                                        </option>
                                        <option value="/the-loai/action-26.html?sort=2">
                                            Ngày cập nhật giảm dần
                                        </option>
                                        <option value="/the-loai/action-26.html?sort=3">
                                            Ngày cập nhật tăng dần
                                        </option>
                                        <option value="/the-loai/action-26.html?sort=4">
                                            Lượt xem giảm dần
                                        </option>
                                        <option value="/the-loai/action-26.html?sort=5">
                                            Lượt xem tăng dần
                                        </option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="list_grid_out">
                    <ul class="list_grid grid">
                        <li th:each="comics : ${comics}">
                            <div class="book_avatar">
                                <a href="/truyen-tranh/troc-dao-nhan-16849"
                                ><img
                                        class="center"
                                        th:src="@{${comics.thumbnail}}"
                                        alt="Tróc Đao Nhân"
                                /></a>
                            </div>
                            <div class="book_info">
                                <div class="book_name qtip" data-qtip="#truyen-tranh-16849">
                                    <h3>
                                        <a
                                                title="Tróc Đao Nhân"
                                                href="/truyen-tranh/troc-dao-nhan-16849"
                                                th:href="@{/comics/{id}(id=${comics.id})}"
                                                th:text="${comics.title}"
                                        >Tróc Đao Nhân</a
                                        >
                                    </h3>
                                </div>
                                <div class="clear"></div>
                                <div class="text_detail">
                                    <span> <i class="fa fa-bookmark"></i> 94 </span>
                                    <span> <i class="fa fa-eye"></i>11,104 </span>
                                </div>
                                <div class="last_chapter">
                                    <a
                                            href="/truyen-tranh/troc-dao-nhan-16849-chap-60.html"
                                            title="Chapter 60"
                                    >Chapter 60</a
                                    >
                                </div>
                                <div
                                        class="more-info"
                                        id="truyen-tranh-16849"
                                        style="display: none"
                                >
                                    <div class="title-more" th:text="comics.title"></div>
                                    <!--                                    <div class="title-more-other">-->
                                    <!--                                        Tên khác: Tróc Đao Nhân-->
                                    <!--                                    </div>-->
                                    <!--                                    <p class="info">Tình trạng: Đang Cập Nhật</p>-->
                                    <!--                                    <p class="info">Lượt xem: 11,104</p>-->
                                    <!--                                    <p class="info">Lượt theo dõi: 94</p>-->
                                    <!--                                    <div class="list-tags">-->
                                    <!--                                        <p class="blue">Action</p>-->
                                    <!--                                        <p class="blue">Fantasy</p>-->
                                    <!--                                        <p class="blue">Manhua</p>-->
                                    <!--                                        <p class="blue">Sci-Fi</p>-->
                                    <!--                                    </div>-->
                                    <!--                                    <div class="excerpt"></div>-->
                                </div>
                            </div>

                            <div class="clear"></div>
                        </li>

                        <li>
                            <div class="book_avatar">
                                <a
                                        href="/truyen-tranh/su-tro-lai-cua-quy-vuong-cap-sss-16618"
                                ><img
                                        class="center"
                                        src="https://img.truyenvua.com/temp/14-11-2024/su-tro-lai-cua-quy-vuong-cap-sss_1731557923.jpg?gt=hdfgdfg&amp;mobile=2"
                                        alt="Sự Trở Lại Của Quỷ Vương Cấp Sss"
                                /></a>

                                <div class="top-notice">
                                    <span class="time-ago">1 Tháng Trước</span>
                                </div>
                            </div>
                            <div class="book_info">
                                <div class="book_name qtip" data-qtip="#truyen-tranh-16618">
                                    <h3>
                                        <a
                                                title="Sự Trở Lại Của Quỷ Vương Cấp Sss"
                                                href="/truyen-tranh/su-tro-lai-cua-quy-vuong-cap-sss-16618"
                                        >Sự Trở Lại Của Quỷ Vương Cấp Sss</a
                                        >
                                    </h3>
                                </div>
                                <div class="clear"></div>
                                <div class="text_detail">
                                    <span> <i class="fa fa-bookmark"></i> 517 </span>
                                    <span> <i class="fa fa-eye"></i>57,927 </span>
                                </div>
                                <div class="last_chapter">
                                    <a
                                            href="/truyen-tranh/su-tro-lai-cua-quy-vuong-cap-sss-16618-chap-26.html"
                                            title="Chapter 26"
                                    >Chapter 26</a
                                    >
                                </div>
                                <div
                                        class="more-info"
                                        id="truyen-tranh-16618"
                                        style="display: none"
                                >
                                    <div class="title-more">
                                        Sự Trở Lại Của Quỷ Vương Cấp Sss
                                    </div>
                                    <p class="info">Tình trạng: Đang Cập Nhật</p>
                                    <p class="info">Lượt xem: 57,927</p>
                                    <p class="info">Lượt theo dõi: 517</p>
                                    <div class="list-tags">
                                        <p class="blue">Action</p>
                                        <p class="blue">Manhwa</p>
                                        <p class="blue">Truyện Màu</p>
                                    </div>
                                    <div class="excerpt">
                                        Một người đàn ông rơi vào quỷ giới, trở về Trái đất với
                                        tư cách là Quỷ VươngTuy nhiên, điều đang chờ đợi anh lại
                                        là những con quái vật bí ẩn!Mùi máu thấm vào không khí:
                                        “Cuối cùng ta đã trở lại.”
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<th:block th:replace="fragments/footer :: footer"></th:block>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>
