<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Truyện QQ</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
</head>
<body class="detail light">
<th:block th:replace="fragments/header :: header"></th:block>
<div class="content">
    <div class="div_middle">
        <div class="alert-note-fix"></div>
        <div class="main_content">
            <div id="main_homepage">
                <div class="homepage_tags">
                    <h1>
                        <p class="text_list_update" th:text="${category.name}">
                            <i class="fa fa-font-awesome" aria-hidden="true"></i>
                        </p>
                    </h1>
                    <div class="clear"></div>
                </div>
                <div class="tags_detail">
                    <p th:text="${category.description}"></p>
                </div>
                <div class="story-list-bl01 box">
                    <table>
                        <tbody>
                        <!--                        <tr>-->
                        <!--                            <th>Thể loại truyện</th>-->
                        <!--                            <td>-->
                        <!--                                <div class="select is-warning">-->
                        <!--                                    <select id="category" name="category"-->
                        <!--                                            th:attr="onchange=window.location.href=this.value">-->
                        <!--                                        <option th:each="item : ${categories}"-->
                        <!--                                                th:value="@{'/category/' + ${item.id}}"-->
                        <!--                                                th:text="${item.name}"-->
                        <!--                                                th:selected="${item.id == category.id}">-->
                        <!--                                        </option>-->

                        <!--                                    </select>-->
                        <!--                                </div>-->
                        <!--                            </td>-->
                        <!--                        </tr>-->
                        <tr>
                            <th>Tình trạng</th>
                            <td>
                                <ul class="choose">
                                    <li th:each="comicStatuses : ${comicStatuses}">
                                        <a class=""
                                           th:href="@{/category/{categoryId}(categoryId=${category.id}, status=${comicStatuses.id})}"
                                           th:text="${comicStatuses.title}">
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>Quốc gia</th>
                            <td>
                                <ul class="choose">
                                    <li th:each="countries : ${countries}">
                                        <a
                                                class=""
                                                title="Truyện Trung Quốc"
                                                th:text="${countries.name}"
                                                th:href="@{/category/{categoryId}(categoryId=${category.id}, country=${countries.id})}"
                                        ></a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="list_grid_out">
                    <ul class="list_grid grid">
                        <li th:each="comics : ${comics}">
                            <div class="book_avatar">
                                <a th:href="@{/album/{id}(id=${comics.id})}"
                                ><img
                                        class="center"
                                        th:src="@{${comics.thumbnail}}"
                                        alt="Tróc Đao Nhân"
                                /></a>
                                <div class="top-notice">
                                    <span class="time-ago" th:text="${timeAgoMap[comics.id]}">Ngày đăng</span>
                                    <span class="type-label hot" th:if="${comics.views > 10000}">Hot</span>
                                </div>
                            </div>
                            <div class="book_info">
                                <div class="book_name qtip" data-qtip="#truyen-tranh-16849">
                                    <h3>
                                        <a
                                                th:href="@{/album/{id}(id=${comics.id})}"
                                                th:text="${comics.title}"
                                        ></a
                                        >
                                    </h3>
                                </div>
                                <div class="clear"></div>
                                <!--                                <div class="text_detail">-->
                                <!--                                    <span> <i class="fa fa-bookmark"></i> 94 </span>-->
                                <!--                                    <span> <i class="fa fa-eye"></i>11,104 </span>-->
                                <!--                                </div>-->
                                <div class="last_chapter">
                                    <span th:if="${latestChapters[comics.id] != null}"
                                          th:text="'Chapter ' + ${latestChapters[comics.id].chapterNumber}"></span>
                                    <span th:if="${latestChapters[comics.id] == null}">Chưa cập nhật</span>
                                </div>
                                <!--                                <div-->
                                <!--                                        class="more-info"-->
                                <!--                                        id="truyen-tranh-16849"-->
                                <!--                                        style="display: none"-->
                                <!--                                >-->
                                <!--                                    <div class="title-more" th:text="comics.title"></div>-->
                                <!--                                    <div class="title-more-other">-->
                                <!--                                        Tên khác: Tróc Đao Nhân-->
                                <!--                                    </div>-->
                                <!--                                    <p class="info">Tình trạng: Đang Cập Nhật</p>-->
                                <!--                                    <p class="info">Lượt xem: 11,104</p>-->
                                <!--                                    <p class="info">Lượt theo dõi: 94</p>-->
                                <!--                                    <div class="list-tags">-->
                                <!--                                        <p class="blue">Action</p>-->
                                <!--                                        <p class="blue">Fantasy</p>-->
                                <!--                                        <p class="blue">Manhua</p>-->
                                <!--                                        <p class="blue">Sci-Fi</p>-->
                                <!--                                    </div>-->
                                <!--                                    <div class="excerpt"></div>-->
                                <!--                                </div>-->
                            </div>

                            <div class="clear"></div>
                        </li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<th:block th:replace="fragments/footer :: footer"></th:block>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>
